.hero-city{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: cover
}

.main{
    height: 20vh !important;
}

.cont-titulo{
    position: absolute;
    left: 5.12%;
    top: 44.01%;
}

.titulito{
    background-color: #2D3962;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
}

.card-itinerary{
    display: flex;
    justify-content: center;
}

.mensaje{
    color: #2D3962;
}

.cont-texto{
    margin-top: 3rem;
    height: 30vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.btn-volver{
    background-color: #FA736D;
    border: 2px solid #FA736D;
    padding: .5rem;
    border-radius: 4px;
    text-align: center;
    margin: .5rem;
}

.btns-volver{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-volver:hover{
    background: rgba(250, 116, 109, 0);
    color: #FA736D;
}

.imagen-city{
    width: 25vw;
}

/*CLASE ITINERARIOS*/
.mensaje-construccion{
    color: #2D3962 ;
    display: flex;
    justify-content: center;
}
.color-text{
    color: #2D3962;
}
.like{
    display: flex;
    justify-content: flex-end;
}
.texto-itinerario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35vw;
}
.itinerarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-card{
    display: flex;
    justify-content: space-around;

}
.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-usuario{
    background-color: rgb(153, 152, 152);
    width: 15vw;
    height: 20vh;
}
.card-itinerary{
    border: 1px #FA736D solid;
    width: 60vw;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-itinerary{
    background-color: #FA736D;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p{
    color: black !important;
}

/*FOTO ITINERARIO*/
.singleCard {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    border: var(--navBar) solid 3px;
} 

.precio, .duracion{
display: flex;
justify-content: center;
}
.plata{
align-self: center;
margin-left: .2rem;
justify-content: center;
}
.hashtags{
display: flex;
justify-content: space-around;
}

/*BOTON VER MAS*/
.cont-btn-ver{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: end;
    margin-top: 2rem;
}

.btn-ver-mas{
    background: rgba(250, 116, 109, 0) !important;
    border: 1px solid #FA736D !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    color: #FA736D !important;
}

.btn-ver-mas:hover {
    background: #FA736D !important;
    color: #fff !important;
}

.example-collapse-text{
    display: flex;
    justify-content: center;
}

/*MEDIA QUERY*/

@media(max-width:920px){
    .cont-card {
        flex-direction: column;
        align-items: center;
    }
    .like{
        justify-content:center;
    }
    .cont-btn-ver{
        justify-content:center;
        align-self: center;
    }
}
@media(max-width:630px){
    .texto-itinerario{
        width: 50vw;
    }
    .hashtags{
        flex-wrap: wrap;
    }
    .card-itinerary{
        width: 70vw;
    }
}
@media (max-width: 576px){
    .cont-texto{
        font-size: 1rem !important;
        padding: 3rem 1rem !important;
        margin-bottom: 1rem;
    }
}
@media (max-width: 400px){
    .texto-city{
        font-size: .8rem ;
    }
}