/*NAVEGADOR*/
.nav{
  background-color: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.navHome{
  height: 5rem;
  
}

.logo2{
  width: 3.5rem;
  height: auto;
}

.color-font{
  color:#2D3962;
  font-size: 1.8rem;
  display: flex;
  align-self: center;
}

/*ICONO - USUARIO - DROPDOWN*/
.iconn{
  font-size: 2rem;
  line-height: 100%;
  align-self: center;
}

/*FONDO*/

#main-principal{
  background-image: url(../src/assets/foto2.png);
  background-position-y: bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

/*TEXTO - TITULO*/
.texto-centro{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

h1, h2, h3, h5{
  color: #fff;
}

h2, h5 {
  font-weight: lighter !important;
}

h1{
  font-size: 5.5rem;
}

h5 {
  margin-top: 5vh !important;
}

/*SUBTITULO*/
.subtitulo{
  width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

/*BOTON*/
a{
  text-decoration: none !important;
  color:#2D3962 !important;
}
.btn-home{
  font-size: 1.5rem !important;
  background: #FA736D !important;
  border-color: #FA736D!important;
  padding: 0 8vh !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
  color: #fff !important;
}
.btn-home:hover{
  box-shadow: 0px 4px 4px rgba(252, 116, 116, 0.733) !important;
}
/*CAROUSEL*/
.popular{
  background-color: #2D3962;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-weight: normal !important;
}

.carrusel-padre{
  height: 100vh;

}

img{
  height: 30vh;

}

/* .conten-carru{
  width: 50rem !important;
  margin: 0 !important;
} */

/* .slick-slide{
  width: fit-content !important;
} */

.tarjeta{
  width: 25vw ;
}
/*BOTONES CARRUSEL*/
.slick-prev{
  left: -53px !important;
}

.slick-prev::before {
  font-size: 3rem !important;
  color: #FA736D !important;
}

.slick-next::before {
  font-size: 3rem !important;
  color: #FA736D !important;
}

/*FOOTER*/
.footer{
  background-image:url(../src/assets/foto-footer.png) ;
}